OrbitSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ValueBoundType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([~].*)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="GraphicComponent">
    <xs:attribute name="RaycastTarget">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ImageComponent">
    <xs:attribute name="ImageColor">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="([#][a-fA-F0-9]*)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="red" />
              <xs:enumeration value="cyan" />
              <xs:enumeration value="blue" />
              <xs:enumeration value="darkblue" />
              <xs:enumeration value="lightblue" />
              <xs:enumeration value="purple" />
              <xs:enumeration value="yellow" />
              <xs:enumeration value="lime" />
              <xs:enumeration value="fuchsia" />
              <xs:enumeration value="white" />
              <xs:enumeration value="silver" />
              <xs:enumeration value="grey" />
              <xs:enumeration value="black" />
              <xs:enumeration value="orange" />
              <xs:enumeration value="brown" />
              <xs:enumeration value="maroon" />
              <xs:enumeration value="green" />
              <xs:enumeration value="olive" />
              <xs:enumeration value="navy" />
              <xs:enumeration value="teal" />
              <xs:enumeration value="aqua" />
              <xs:enumeration value="magenta" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ImageSprite">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Sprite</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ImageMaterial">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Material</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PreserveAspect">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="LayoutElementComponent">
    <xs:attribute name="IgnoreLayout">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="LayoutPriority">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PreferredWidth">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PreferredHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MinWidth">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MinHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FlexibleWidth">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FlexibleHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="MarkupPrefabComponent">
    <xs:attribute name="ID">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="RectTransformComponent">
    <xs:attribute name="AnchorPreset">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>AnchorPreset</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FillParent" />
              <xs:enumeration value="LeftAlign" />
              <xs:enumeration value="RightAlign" />
              <xs:enumeration value="TopAlign" />
              <xs:enumeration value="BottomAlign" />
              <xs:enumeration value="TopLeftAlign" />
              <xs:enumeration value="BottomLeftAlign" />
              <xs:enumeration value="TopRightAlign" />
              <xs:enumeration value="BottomRightAlign" />
              <xs:enumeration value="Center" />
              <xs:enumeration value="LeftHalf" />
              <xs:enumeration value="RightHalf" />
              <xs:enumeration value="TopHalf" />
              <xs:enumeration value="BottomHalf" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorMin">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorMinX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorMinY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorMax">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorMaxX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorMaxY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorPos">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorPosX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AnchorPosY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SizeDelta">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SizeDeltaX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SizeDeltaY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Pivot">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PivotX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PivotY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="TransformComponent">
    <xs:attribute name="Rotation">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector3</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RotationX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RotationY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RotationZ">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Position">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector3</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PositionX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PositionY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PositionZ">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Scale">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector3</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ScaleX">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ScaleY">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ScaleZ">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Active">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="Background" type="BackgroundTag" />
  <xs:complexType name="BackgroundTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="ImageComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="ButtonComponent">
    <xs:attribute name="ClickEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="EventTriggerComponent">
    <xs:attribute name="HoveredValue">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="HoveredEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="UnHoveredEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PointerDownEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PointerUpEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PointerDragEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="SelectableComponent">
    <xs:attribute name="Interactable">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="TMP_TextComponent">
    <xs:attribute name="Text">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FontSize">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="AutoFontSize">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FontColor">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="([#][a-fA-F0-9]*)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="red" />
              <xs:enumeration value="cyan" />
              <xs:enumeration value="blue" />
              <xs:enumeration value="darkblue" />
              <xs:enumeration value="lightblue" />
              <xs:enumeration value="purple" />
              <xs:enumeration value="yellow" />
              <xs:enumeration value="lime" />
              <xs:enumeration value="fuchsia" />
              <xs:enumeration value="white" />
              <xs:enumeration value="silver" />
              <xs:enumeration value="grey" />
              <xs:enumeration value="black" />
              <xs:enumeration value="orange" />
              <xs:enumeration value="brown" />
              <xs:enumeration value="maroon" />
              <xs:enumeration value="green" />
              <xs:enumeration value="olive" />
              <xs:enumeration value="navy" />
              <xs:enumeration value="teal" />
              <xs:enumeration value="aqua" />
              <xs:enumeration value="magenta" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RichText">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FontStyle">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>FontStyles</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="((Normal|Bold|Italic|Underline|LowerCase|UpperCase|SmallCaps|Strikethrough|Superscript|Subscript|Highlight),\s*)*(Normal|Bold|Italic|Underline|LowerCase|UpperCase|SmallCaps|Strikethrough|Superscript|Subscript|Highlight)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Normal" />
              <xs:enumeration value="Bold" />
              <xs:enumeration value="Italic" />
              <xs:enumeration value="Underline" />
              <xs:enumeration value="LowerCase" />
              <xs:enumeration value="UpperCase" />
              <xs:enumeration value="SmallCaps" />
              <xs:enumeration value="Strikethrough" />
              <xs:enumeration value="Superscript" />
              <xs:enumeration value="Subscript" />
              <xs:enumeration value="Highlight" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TextAlignment">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>TextAlignmentOptions</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="TopLeft" />
              <xs:enumeration value="Top" />
              <xs:enumeration value="TopRight" />
              <xs:enumeration value="TopJustified" />
              <xs:enumeration value="TopFlush" />
              <xs:enumeration value="TopGeoAligned" />
              <xs:enumeration value="Left" />
              <xs:enumeration value="Center" />
              <xs:enumeration value="Right" />
              <xs:enumeration value="Justified" />
              <xs:enumeration value="Flush" />
              <xs:enumeration value="CenterGeoAligned" />
              <xs:enumeration value="BottomLeft" />
              <xs:enumeration value="Bottom" />
              <xs:enumeration value="BottomRight" />
              <xs:enumeration value="BottomJustified" />
              <xs:enumeration value="BottomFlush" />
              <xs:enumeration value="BottomGeoAligned" />
              <xs:enumeration value="BaselineLeft" />
              <xs:enumeration value="Baseline" />
              <xs:enumeration value="BaselineRight" />
              <xs:enumeration value="BaselineJustified" />
              <xs:enumeration value="BaselineFlush" />
              <xs:enumeration value="BaselineGeoAligned" />
              <xs:enumeration value="MidlineLeft" />
              <xs:enumeration value="Midline" />
              <xs:enumeration value="MidlineRight" />
              <xs:enumeration value="MidlineJustified" />
              <xs:enumeration value="MidlineFlush" />
              <xs:enumeration value="MidlineGeoAligned" />
              <xs:enumeration value="CaplineLeft" />
              <xs:enumeration value="Capline" />
              <xs:enumeration value="CaplineRight" />
              <xs:enumeration value="CaplineJustified" />
              <xs:enumeration value="CaplineFlush" />
              <xs:enumeration value="CaplineGeoAligned" />
              <xs:enumeration value="Converted" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TextOverflowMode">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>TextOverflowModes</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Overflow" />
              <xs:enumeration value="Ellipsis" />
              <xs:enumeration value="Masking" />
              <xs:enumeration value="Truncate" />
              <xs:enumeration value="ScrollRect" />
              <xs:enumeration value="Page" />
              <xs:enumeration value="Linked" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="WordWrapping">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="Button" type="ButtonTag" />
  <xs:complexType name="ButtonTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ButtonComponent" />
    <xs:attributeGroup ref="EventTriggerComponent" />
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="ImageComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TMP_TextComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="ButtonLayoutGroupComponent">
    <xs:attribute name="IsVertical">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ContentSizeFitterComponent">
    <xs:attribute name="VerticalFit">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>FitMode</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Unconstrained" />
              <xs:enumeration value="MinSize" />
              <xs:enumeration value="PreferredSize" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="HorizontalFit">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>FitMode</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Unconstrained" />
              <xs:enumeration value="MinSize" />
              <xs:enumeration value="PreferredSize" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="HorizontalOrVerticalLayoutGroupComponent">
    <xs:attribute name="Spacing">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ChildForceExpandWidth">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ChildForceExpandHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ChildControlWidth">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ChildControlHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ChildScaleWidth">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ChildScaleHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="LayoutGroupComponent">
    <xs:attribute name="ChildAlign">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>TextAnchor</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UpperLeft" />
              <xs:enumeration value="UpperCenter" />
              <xs:enumeration value="UpperRight" />
              <xs:enumeration value="MiddleLeft" />
              <xs:enumeration value="MiddleCenter" />
              <xs:enumeration value="MiddleRight" />
              <xs:enumeration value="LowerLeft" />
              <xs:enumeration value="LowerCenter" />
              <xs:enumeration value="LowerRight" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PadTop">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PadBottom">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PadLeft">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PadRight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PadAll">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="ButtonGroup" type="ButtonGroupTag" />
  <xs:complexType name="ButtonGroupTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ButtonLayoutGroupComponent" />
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="HorizontalOrVerticalLayoutGroupComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="LayoutGroupComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="Clickable" type="ClickableTag" />
  <xs:complexType name="ClickableTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ButtonComponent" />
    <xs:attributeGroup ref="EventTriggerComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="Container" type="ContainerTag" />
  <xs:complexType name="ContainerTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="GridLayoutGroupComponent">
    <xs:attribute name="Spacing">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CellSize">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="StartAxis">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Axis</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Horizontal" />
              <xs:enumeration value="Vertical" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="StartCorner">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Corner</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="UpperLeft" />
              <xs:enumeration value="UpperRight" />
              <xs:enumeration value="LowerLeft" />
              <xs:enumeration value="LowerRight" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Constraint">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Constraint</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Flexible" />
              <xs:enumeration value="FixedColumnCount" />
              <xs:enumeration value="FixedRowCount" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ConstraintCount">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="Grid" type="GridTag" />
  <xs:complexType name="GridTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="GridLayoutGroupComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="LayoutGroupComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="Horizontal" type="HorizontalTag" />
  <xs:complexType name="HorizontalTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="HorizontalOrVerticalLayoutGroupComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="LayoutGroupComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="Image" type="ImageTag" />
  <xs:complexType name="ImageTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="ImageComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="InputSettingComponent">
    <xs:attribute name="EndEditEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="SettingComponentComponent">
    <xs:attribute name="BoundValue">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ValueChangedEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="InputField" type="InputFieldTag" />
  <xs:complexType name="InputFieldTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="ImageComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TransformComponent" />
    <xs:attributeGroup ref="InputSettingComponent" />
    <xs:attributeGroup ref="SettingComponentComponent" />
  </xs:complexType>
  <xs:attributeGroup name="ScrollingListComponent">
    <xs:attribute name="CellHeight">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="CellSpacing">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Items">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>IList</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RefreshEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ScrollRectComponent">
    <xs:attribute name="MovementType">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>MovementType</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Unrestricted" />
              <xs:enumeration value="Elastic" />
              <xs:enumeration value="Clamped" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Elasticity">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Horizontal">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Vertical">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Inertia">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DecelerationRate">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ScrollSensitivity">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="List" type="ListTag" />
  <xs:complexType name="ListTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="ScrollingListComponent" />
    <xs:attributeGroup ref="ScrollRectComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="RawImageComponent">
    <xs:attribute name="ImageColor">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="([#][a-fA-F0-9]*)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="red" />
              <xs:enumeration value="cyan" />
              <xs:enumeration value="blue" />
              <xs:enumeration value="darkblue" />
              <xs:enumeration value="lightblue" />
              <xs:enumeration value="purple" />
              <xs:enumeration value="yellow" />
              <xs:enumeration value="lime" />
              <xs:enumeration value="fuchsia" />
              <xs:enumeration value="white" />
              <xs:enumeration value="silver" />
              <xs:enumeration value="grey" />
              <xs:enumeration value="black" />
              <xs:enumeration value="orange" />
              <xs:enumeration value="brown" />
              <xs:enumeration value="maroon" />
              <xs:enumeration value="green" />
              <xs:enumeration value="olive" />
              <xs:enumeration value="navy" />
              <xs:enumeration value="teal" />
              <xs:enumeration value="aqua" />
              <xs:enumeration value="magenta" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ImageTexture">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Texture</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="RawImage" type="RawImageTag" />
  <xs:complexType name="RawImageTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RawImageComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="RectMask" type="RectMaskTag" />
  <xs:complexType name="RectMaskTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="DropdownSettingComponent">
    <xs:attribute name="Items">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>IList</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="SettingDropdown" type="SettingDropdownTag" />
  <xs:complexType name="SettingDropdownTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TMP_TextComponent" />
    <xs:attributeGroup ref="TransformComponent" />
    <xs:attributeGroup ref="DropdownSettingComponent" />
    <xs:attributeGroup ref="SettingComponentComponent" />
  </xs:complexType>
  <xs:element name="SettingInputField" type="SettingInputFieldTag" />
  <xs:complexType name="SettingInputFieldTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TMP_TextComponent" />
    <xs:attributeGroup ref="TransformComponent" />
    <xs:attributeGroup ref="InputSettingComponent" />
    <xs:attributeGroup ref="SettingComponentComponent" />
  </xs:complexType>
  <xs:attributeGroup name="SliderSettingComponent">
    <xs:attribute name="MaxValue">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MinValue">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Increments">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Formatter">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>UIFunction</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ImmediateUpdate">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="WholeNumbers">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="SettingSlider" type="SettingSliderTag" />
  <xs:complexType name="SettingSliderTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TMP_TextComponent" />
    <xs:attributeGroup ref="TransformComponent" />
    <xs:attributeGroup ref="SettingComponentComponent" />
    <xs:attributeGroup ref="SliderSettingComponent" />
  </xs:complexType>
  <xs:element name="SettingToggle" type="SettingToggleTag" />
  <xs:complexType name="SettingToggleTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TMP_TextComponent" />
    <xs:attributeGroup ref="TransformComponent" />
    <xs:attributeGroup ref="SettingComponentComponent" />
  </xs:complexType>
  <xs:element name="Text" type="TextTag" />
  <xs:complexType name="TextTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TMP_TextComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="Vertical" type="VerticalTag" />
  <xs:complexType name="VerticalTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="HorizontalOrVerticalLayoutGroupComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="LayoutGroupComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:attributeGroup name="PageIndicatorComponent">
    <xs:attribute name="CurrentPage">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="PageCount">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="MaxPages">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Int32</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ColorFunction">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>UIFunction</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SelectPageFunction">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>UIFunction</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="VerticalPageIndicator" type="VerticalPageIndicatorTag" />
  <xs:complexType name="VerticalPageIndicatorTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="HorizontalOrVerticalLayoutGroupComponent" />
    <xs:attributeGroup ref="LayoutGroupComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="PageIndicatorComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="VerticalScrollbar" type="VerticalScrollbarTag" />
  <xs:complexType name="VerticalScrollbarTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="GraphicComponent" />
    <xs:attributeGroup ref="ImageComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="SelectableComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="VerticalScrollView" type="VerticalScrollViewTag" />
  <xs:complexType name="VerticalScrollViewTag">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attributeGroup ref="ContentSizeFitterComponent" />
    <xs:attributeGroup ref="HorizontalOrVerticalLayoutGroupComponent" />
    <xs:attributeGroup ref="LayoutElementComponent" />
    <xs:attributeGroup ref="LayoutGroupComponent" />
    <xs:attributeGroup ref="MarkupPrefabComponent" />
    <xs:attributeGroup ref="RectTransformComponent" />
    <xs:attributeGroup ref="ScrollRectComponent" />
    <xs:attributeGroup ref="TransformComponent" />
  </xs:complexType>
  <xs:element name="AS_HOST" type="AS_HOSTMacro" />
  <xs:complexType name="AS_HOSTMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="Host" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Object</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="ATTRIBUTE_TAGS" type="ATTRIBUTE_TAGSMacro" />
  <xs:complexType name="ATTRIBUTE_TAGSMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="Group">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="BIND_BOOL" type="BIND_BOOLMacro" />
  <xs:complexType name="BIND_BOOLMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="BoolValue" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="TrueValue" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FalseValue" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="COMPARE" type="COMPAREMacro" />
  <xs:complexType name="COMPAREMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FirstValue">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="SecondValue">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="DEFINE_BOOL" type="DEFINE_BOOLMacro" />
  <xs:complexType name="DEFINE_BOOLMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Value">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="DEFINE_FLOAT" type="DEFINE_FLOATMacro" />
  <xs:complexType name="DEFINE_FLOATMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Value">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Single</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="DEFINE_COLOR" type="DEFINE_COLORMacro" />
  <xs:complexType name="DEFINE_COLORMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Value">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="([#][a-fA-F0-9]*)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="red" />
              <xs:enumeration value="cyan" />
              <xs:enumeration value="blue" />
              <xs:enumeration value="darkblue" />
              <xs:enumeration value="lightblue" />
              <xs:enumeration value="purple" />
              <xs:enumeration value="yellow" />
              <xs:enumeration value="lime" />
              <xs:enumeration value="fuchsia" />
              <xs:enumeration value="white" />
              <xs:enumeration value="silver" />
              <xs:enumeration value="grey" />
              <xs:enumeration value="black" />
              <xs:enumeration value="orange" />
              <xs:enumeration value="brown" />
              <xs:enumeration value="maroon" />
              <xs:enumeration value="green" />
              <xs:enumeration value="olive" />
              <xs:enumeration value="navy" />
              <xs:enumeration value="teal" />
              <xs:enumeration value="aqua" />
              <xs:enumeration value="magenta" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="FOR_EACH" type="FOR_EACHMacro" />
  <xs:complexType name="FOR_EACHMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="Items" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>IList</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="RefreshEvent">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="INCLUDE" type="INCLUDEMacro" />
  <xs:complexType name="INCLUDEMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ViewType" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ViewValue" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Active">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Boolean</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="LERP_COLOR" type="LERP_COLORMacro" />
  <xs:complexType name="LERP_COLORMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ValueID" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="StartColor" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="([#][a-fA-F0-9]*)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="red" />
              <xs:enumeration value="cyan" />
              <xs:enumeration value="blue" />
              <xs:enumeration value="darkblue" />
              <xs:enumeration value="lightblue" />
              <xs:enumeration value="purple" />
              <xs:enumeration value="yellow" />
              <xs:enumeration value="lime" />
              <xs:enumeration value="fuchsia" />
              <xs:enumeration value="white" />
              <xs:enumeration value="silver" />
              <xs:enumeration value="grey" />
              <xs:enumeration value="black" />
              <xs:enumeration value="orange" />
              <xs:enumeration value="brown" />
              <xs:enumeration value="maroon" />
              <xs:enumeration value="green" />
              <xs:enumeration value="olive" />
              <xs:enumeration value="navy" />
              <xs:enumeration value="teal" />
              <xs:enumeration value="aqua" />
              <xs:enumeration value="magenta" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="EndColor" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Color</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="([#][a-fA-F0-9]*)" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="red" />
              <xs:enumeration value="cyan" />
              <xs:enumeration value="blue" />
              <xs:enumeration value="darkblue" />
              <xs:enumeration value="lightblue" />
              <xs:enumeration value="purple" />
              <xs:enumeration value="yellow" />
              <xs:enumeration value="lime" />
              <xs:enumeration value="fuchsia" />
              <xs:enumeration value="white" />
              <xs:enumeration value="silver" />
              <xs:enumeration value="grey" />
              <xs:enumeration value="black" />
              <xs:enumeration value="orange" />
              <xs:enumeration value="brown" />
              <xs:enumeration value="maroon" />
              <xs:enumeration value="green" />
              <xs:enumeration value="olive" />
              <xs:enumeration value="navy" />
              <xs:enumeration value="teal" />
              <xs:enumeration value="aqua" />
              <xs:enumeration value="magenta" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="REMAP" type="REMAPMacro" />
  <xs:complexType name="REMAPMacro">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="ID" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ValueID" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>String</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Range" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ValueRange" use="required">
      <xs:simpleType>
        <xs:annotation>
          <xs:documentation>Vector2</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="ValueBoundType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[-+]?[0-9]*\.?[0-9]+,[-+]?[0-9]*\.?[0-9]+" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>